{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "72",
          "ie": "10"
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": []
}
